# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Specific file ignores
lovelace-backups
image
tts


# Directory (contents) ignores
.cloud
.storage
deps
blueprints
secrets.yaml

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Ignore vendored stuff
custom_components

themes/*
!themes/home-theme

www/*
!www/images
!www/custom_resources